/* ========== 
container styles 
 ==========*/

.leftDiv{ /* 元件container */ 
	float:left;
	width: 17%;
	height: 90%;
	padding: 5px 10px 5px 10px; /* 上 右 下 左 */
	margin: 10px 0px 0px 10px; /* 上 右 下 左 */
	
	background-color: #B0C4DE; /* 设置容器的背景颜色 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.rightDiv{  /* 表格container */ 
	float:right;
	width: 80%;
	padding: 0px 0px 0px 0px; /* 上 右 下 左 */
	margin:10px 0px 0px 0px; /* 上 右 下 左 */
}


/* ========== 
button styles 
 ==========*/
.edit-button{ /* 表格的編輯按鈕 */
	background-color:#008CBA;
	color:white;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding: 3px 5px;
	border-width:1px;
	border-color:#9cf #159 #159 #9cf;
	width: 50px;
}

.btnEdit{ /* 小視窗的編輯按鈕 */
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btnEdit:hover {
    background-color: #2980b9;  
}

.btnEdit:focus{
	outline: none;	
}


/* ========== 
table styles 
 ==========*/
.styled-table {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.styled-table th,
.styled-table td {
    padding: 5px 5px;
    text-align: center;
    font-size: 16px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #EEEEEE;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    
}

header, footer {
  white-space: nowrap;
}


/* ==========
样式化弹窗 
  ==========*/
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 5px;
}

.modal-content {
    text-align: center;
}

.close {
	position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
	font-size: 30px; /* 放大 "X" */
	transition: background-color 0.3s; /* 添加颜色过渡效果 */
}

.close:hover {
    background-color: red; /* 鼠标悬停时的背景颜色 */
	color: white; /* 文本颜色 */   
}

/* ==========
單選扭及日曆元件 
  ==========*/
.checkbox-group { /* 單選鈕群組 */
	/*border: 1px solid  #ccc; /* 可选：添加边框以可视化容器 */
	background-color: #f2f2f2; /* 设置背景颜色 */
    padding: 0px 10px 5px 10px; /* 上 右 下 左 */ /* 添加一些内边距以增加质感 */
    border-radius: 5px; /* 圆角边框以增加质感 */
    margin-bottom: 5px; /* 增加下边距以分隔不同的组 */
}

.checkbox-group-title { /* 單選鈕群組內的標題 */
    font-size: 20px;
    display: block;
    margin-bottom: 5px; 
}

.checkbox-group label { /* 單選鈕群組內的子項內容 */
    font-size: 18px;
    display: block;
    margin-bottom: 0px; 
    /*border: 1px solid  #ccc; /* 可选：添加边框以可视化容器 */
}

.checkbox-group input[type="checkbox"] {  /* 每一組內各的檢核按扭 */
    margin-right: 5px;
    float: left;
}


.datepicker { /* 日曆元件css */
    margin-top: 20px; /* 將日期選擇器置於文字下方 */
    background-color: #f2f2f2; /* 设置背景颜色 */
    padding: 0px 5px 5px 5px; /* 上 右 下 左 */ /* 添加一些内边距以增加质感 */
    border-radius: 5px; /* 圆角边框以增加质感 */
    margin-bottom: 0px; /* 增加下边距以分隔不同的组 */
}
 

.datepicker input[type="date"] {
    padding: 3px; /* 調整日期選擇器的內容大小 */
    font-size: 16px; /* 調整日期選擇器的字號 */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 44%; /* 縮短日期選擇器的寬度 */
} 